{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Rochak Dhakal</title>
    <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" /> -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  
  <!-- Internal Section Start-->
    <section class="major-body-section">
      <div class="container main-content-wrap">
      <form action="{% url 'crud:home' %}">
            <button type="submit" class="btn btn-primary btn-sm ">Home</button>
        </form>
      <br>
        <div class="table-background table-teal">
          <table class="table table-striped">
            <thead>
              <tr>
{#                <th scope="col">#</th>#}
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Number</th>
                <th scope="col">Address</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>

            <tbody>
                {% for detail in object_list %}
              <tr>
{#                <th scope="row">1</th>#}
                <td>{{ detail.name }}</td>
                <td>{{ detail.email }}</td>
                <td>{{ detail.number }}</td>
                <td>{{ detail.address }}</td>

                  <td>
                      <div class="row">
                      <form method="post" action="{% url 'crud:delete' detail.pk %}" class="col-md-6">
                      {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                      </form>
{#                      <span>#}
                      <form method="get" action="{% url 'crud:update' detail.pk %}" class="col-md-6">
                      {% csrf_token %}
                        <button type="submit" class="btn btn-success">Update</button>
                      </form>

{#                      </span>#}
                      </div>
                  </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </section>

  <!-- Internal Section  End-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw==" crossorigin="anonymous"></script> -->
  
  
</body>

</html>